xterm*dynamicColors: true
xterm*font:     *-fixed-*-*-*-20-*
xterm*SaveLines: 10000

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
!rofi.color-enabled: true
!rofi.color-window: #273238, #273238, #1e2529
!rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
!rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
!rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844

! ------------------------------------------------------------------------------
! urxvt configuration
! ------------------------------------------------------------------------------
urxvt.perl-ext-common:      default,matcher,selection-to-clipboard
urxvt.keysym.M-c:           perl:clipboard:copy
urxvt.keysym.M-v:           perl:clipboard:paste

urxvt.dynamicColors: on
urxvt.xftAntialias: true
urxvt.scrollBar: false
urxvt.scrollBar_right: false

urxvt.url-launcher: /usr/bin/firefox
urxvt.matcher.button: 1
urxvt.underlineURLs: true

! Copy/Paste, same keys as gnome-terminal
! https://stackoverflow.com/questions/39884093
! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false

! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:

! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
urxvt.keysym.C-S-0x43: eval:selection_to_clipboard
urxvt.keysym.C-S-0x56: eval:paste_clipboard

urxvt.keysym.Control-Left:  \033[1;5D
urxvt.keysym.Control-Right: \033[1;5C

! clear the scrollback
urxvt.keysym.Control-l:     command:\033c

! scroll up and down one line
urxvt.keysym.Shift-Up:      command:\033]720;1\007
urxvt.keysym.Shift-Down:    command:\033]721;1\007

!urxvt.letterSpace: -2
urxvt.font:               xft:Source Code Pro:size=9,xft:DejaVu Sans Mono:size=9,xft:symbola:size=10
urxvt.boldFont:           xft:Source Code Pro:style=Bold:size=9:style=Bold,xft:DejaVu Sans Mono:size=9
urxvt.italicFont:         xft:Source Code Pro:style=Italic:size=9,xft:DejaVu Sans Mono:size=9
urxvt.bolditalicFont:     xft:Source Code Pro:style=Bold Italic:size=9,xft:DejaVu Sans Mono:size=9

xft.dpi: 192
xft.antialias: true
xft.hinting: true
xft.hintStyle: hintfull

! special
urxvt.depth: 32
!urxvt.foreground:   #7ea2b4
!urxvt.cursorColor:  #7ea2b4
*.foreground:   #d9d6ff
*.cursorColor:  #d9d6ff
! This is #260030 in RGBA with opacity
urxvt.background:   rgba:2600/0000/3000/c800


! black
urxvt.color0:       #161b1d
urxvt.color8:       #5a7b8c

! red
urxvt.color1:       #d24d8b
urxvt.color9:       #d24d8b

! green
urxvt.color2:       #66c638
urxvt.color10:      #66c638

! yellow
urxvt.color3:       #b4b42a
urxvt.color11:      #b4b42a

! blue
urxvt.color4:       #34b2f3
urxvt.color12:      #34b2f3

! magenta
urxvt.color5:       #7171d8
urxvt.color13:      #7171d8

! cyan
urxvt.color6:       #39b48c
urxvt.color14:      #39b48c

! white
urxvt.color7:       #d9d6ff
urxvt.color15:      #ebf8ff
