xterm*dynamicColors: true
xterm*font:     *-fixed-*-*-*-20-*

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844

! ------------------------------------------------------------------------------
! urxvt configuration
! ------------------------------------------------------------------------------
urxvt.perl-ext-common:      default,matcher,clipboard
urxvt.keysym.M-c:           perl:clipboard:copy
urxvt.keysym.M-v:           perl:clipboard:paste

urxvt.dynamicColors: on
urxvt.xftAntialias: true
urxvt.scrollBar: false
urxvt.scrollBar_right: false

urxvt.url-launcher: /usr/bin/firefox
urxvt.matcher.button: 1
urxvt.underlineURLs: true

urxvt.keysym.Control-Left:   \033[1;5D
urxvt.keysym.Control-Right:  \033[1;5C

!urxvt.letterSpace: -2
urxvt.font:               xft:Source Code Pro:size=9:antialias=true,hinting=true, xft:symbola:size=10:antialias=true:hinting=true
urxvt.boldFont:           xft:Source Code Pro:style=Bold:size=9:style=Bold:antialias=true,hinting=true
urxvt.italicFont:         xft:Source Code Pro:style=Italic:size=9:antialias=true:hinting=true
urxvt.bolditalicFont:     xft:Source Code Pro:style=Bold Italic:size=9:antialias=true:hinting=true

xft.dpi: 192
xft.antialias: true
xft.hinting: true
xft.hintStyle: hintfull

! special
urxvt.depth: 32
urxvt.background:   rgba:0000/0000/0000/c800
!urxvt.background:   rgba:1600/1b00/1d00/ee00
!urxvt.background:   #161b1d
urxvt.foreground:   #7ea2b4
urxvt.cursorColor:  #7ea2b4

! black
urxvt.color0:       #161b1d
urxvt.color8:       #5a7b8c

! red
urxvt.color1:       #d24d72
urxvt.color9:       #d24d72

! green
urxvt.color2:       #568c3b
urxvt.color10:      #568c3b

! yellow
urxvt.color3:       #8a8a0f
urxvt.color11:      #8a8a0f

! blue
urxvt.color4:       #257fad
urxvt.color12:      #257fad

! magenta
urxvt.color5:       #5d5db1
urxvt.color13:      #5d5db1

! cyan
urxvt.color6:       #2d8f6f
urxvt.color14:      #2d8f6f

! white
urxvt.color7:       #7ea2b4
urxvt.color15:      #ebf8ff
